<router-outlet></router-outlet>

<input [disabled]="estaConectado" [(ngModel)] ="nombre" />
<button [disabled]="estaConectado" (click)="Conectar()">Conectarme</button>

<h1>Lista de mensajes</h1>
<div *ngIf="estaConectado">
<div *ngFor="let m of listaMensajes">
    <li *ngIf="m != ''">
        {{m}}
    </li>  
</div>
</div>

<input  [disabled]="!estaConectado" [(ngModel)]="mensaje" (keyup)="$event.keyCode == 13 && EnviarMensaje()" />
<button  [disabled]="!estaConectado" (click)="EnviarMensaje()">Enviar Mensaje</button>

